<!DOCTYPE html>
<html lang="kr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
	<meta name="author" content="sjsj">
	<meta property="og:title" content="이수진 포트폴리오">
    <meta property="og:description" content="이수진 포트폴리오 사이트 입니다!">
    <meta property="og:url" content="https://github.com/sj2sj/sujin" />
	<title>이수진 포트폴리오</title>

	<!-- 파비콘 -->
    <link rel="shortcut icon" href="assets/favicon/favicon2.ico">

	<!-- CSS -->
	<link rel="stylesheet" href="assets/css/reset.css">
	<link rel="stylesheet" href="assets/scss/css/style.css">
	<link rel="stylesheet" href="assets/css/mediaQuery.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/jquery.fullpage.css">
</head>
<body>


	<!-- modal -->
	<div id="modal">
		<div class="modal_wrap">
			<button type="button" id="modal_close_btn" class="ir_pm">
				모달창 닫기
				<span class="close">  </span>
			</button>

			
			<div id="modal_content">

				<div class="slide_img">
					<a href="http://sj2sj.dothome.co.kr/customs/" target="_blank">
						<img src="assets/img/portfolio/customs1024.png" alt="관세청 PC">
					</a>
				</div>

				<div class="modal_info">
					<strong class="highlight"><span>관세청</span></strong>
					<p class="refer">* 현재 운영 중인 사이트의 클론 코딩 페이지 입니다.  
							저는 사이트의 디자인만을 참고하여 html, css, js를 작성하였습니다. </p>
					<p><em>유형 : </em> <span>반응형 웹</span></p>
					<p>
						<em>구현 : </em> <span>퍼블리싱 100%</span>
					</p>
					<p><em>작업 기간 : </em><span>2020. 3~</span></p>
					<p><em>페이지 수 : </em><span>1</span></p>
				</div>

				<div class="view-btn">
					<a href="https://github.com/sj2sj/customs"> 
						<span>github link</span> 
						<i class="fa fa-long-arrow-right" aria-hidden="true"></i> 
					</a>
					<a href="http://sj2sj.dothome.co.kr/customs/"> 
						<span>page link</span> 
						<i class="fa fa-long-arrow-right" aria-hidden="true"></i> 
					</a>
				</div>

			</div>

		</div>
		<div class="modal_layer"></div>
	</div>
	<!-- modal 끝 -->


	<!-- header -->
	<header id="header" class="header">
		<div class="container clearfix">
			<h1 class="logo">
				<a href="#page1">
					<img src="assets/img/icons/moon_ico.png" alt="SUJIN">
				</a>
			</h1>
			<nav class="nav">
				<h2 class="ir_so">목차</h2>
				<ul>
					<li>
						<a href="#page2">ABOUT</a>
					</li>
					<li>
						<a href="#page3">PORTFOLIO</a>
					</li>
					<li>
						<a href="#page4">CONTACT</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- //header -->

	<!-- fullpage -->
	<article id="fullpage">
		<h2 class="ir_so"> 컨텐츠 </h2>
		<section id="home" class="section sec1 home" data-anchor="page1">
			<div class="container">
				<div class="title">
					<h3><span class="verb-text"> </span><br>
						웹 퍼블리셔 <span class="eng"> WEB PUBLISHER</span>
						<br class="res_br">이수진 <span class="eng"> LEE SUJIN</span>
					</h3>
				</div>
				<ul class="move_word">
					<li class="typing-text">&#35;꿈꾸는</li>
					<li>&#35;긍정적인</li>
					<li>&#35;꼼꼼한</li>
					<li>&#35;차분한</li>
				</ul>
				<ul>
					<li>&#35;웹 표준</li>
					<li>&#35;웹 접근성</li>
				</ul>
			</div>
		</section>

		<section id="about" class="section sec2 about fp-auto-height-responsive" data-anchor="page2">
			<div class="container clearfix">
				<h3 class="title_text">What about me!</h3>
				<strong class="words">만들고, 해결하며 즐거움을 찾는 <br class="res_br">퍼블리셔 이수진 입니다.</strong>
				<div class="left_area">
					<div class="profile_wrap">
						<div class="photo"> 
							<img src="assets/img/profile.jpg" class="profile" alt="프로필사진" >
						</div>
					</div>
				</div>
				<div class="right_area">
					<div class="skill_wrap">
						<h4>기술</h4>
						<ul class="parent-ul">
							<li>
								<strong class="highlight"><span>Development</span></strong>
								<p> 
									<span class="icon html5"> </span> 
									<span class="icon css"> </span> 
									<span class="icon js"> </span> 
								</p>
								<ul>
									<li>웹 표준과 웹 접근성을 준수하여 마크업합니다.</li>
									<li>크로스 브라우징 작업을 합니다.</li>
									<li>미디어쿼리를 이용해 반응형 웹 페이지를 만듭니다.</li>
									<li>Scss를 사용하여 css를 구조화하고 재사용성을 높입니다. </li>
									<li>자바스크립트 플러그인을 활용할 수 있습니다.</li>
								</ul>
							</li>
							<li>
								<strong class="highlight"><span>Other</span></strong>
								<ul>
									<li>Git : 버전 관리를 통해 히스토리를 관리하고 팀원들과의 작업 효율을 높입니다.</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="work_wrap">
						<h4>경력</h4>
						<ul class="parent-ul">
							<li class="bold">
								<em>2018.12~2019.12</em>
								<strong>(주)소프트잼 사원 (R&D팀)</strong>
								<p class="work_desc">* 해당 경력은 백엔드 개발 경력입니다.</p>
							</li>
							<li>대학교 관리자 페이지 유지보수</li>
							<li>대학교 하이브리드 앱 유지보수</li>
							<li>순천향대학교 졸업관리 시스템 추가 개발</li>
							<li>세종대학교, 한국체육대학교 앱 개발 참여(30%)</li>
						</ul>
					</div>
					<div class="certificate_wrap">
						<h4>자격증</h4>
						<ul class="parent-ul">
							<li>정보처리산업기사</li>
							<li>컴퓨터활용능력 2급</li>
						</ul>
					</div>
				</div>
				<div class="footer_area">
					
				</div>
			</div>
		</section>

		<section id="portfolio" class="section sec3" data-anchor="page3">
			<div class="container">
				<h3 class="title_text">PORTFOLIO</h3>
				<ul class="clearfix">
					<li>
						<img src="assets/img/portfolio/notebook_sujin.png" class="pc" alt="portfolio PC버전">
						<img src="assets/img/portfolio/tablet_sujin.png" class="tablet" alt="portfolio 타블렛 버전">
						<img src="assets/img/portfolio/phone_sujin.png" class="mobile" alt="portfolio 모바일 기기 버전">
						<div class="info">
							<strong>이수진 포트폴리오</strong>
							<div class="parent-p">
								<p><em>유형</em>반응형 웹</p>
								<p><em>구현</em>기획, 디자인, 퍼블리싱 100%</p>
								<p><em>작업 기간</em>2020. 03 ~ 2020. 4</p>
							</div>
							<div class="more-btn">
								<div class="btn-gradient">
									<button type="button" class="modal_open_btn" value="sujin"> more detail
										<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</div>
					</li>
					<li>
						<img src="assets/img/portfolio/notebook_customs.png" class="pc" alt="관세청 PC버전">
						<img src="assets/img/portfolio/tablet_customs.png" class="tablet" alt="관세청 타블렛 버전">
						<img src="assets/img/portfolio/phone_customs.png" class="mobile" alt="관세청 모바일 기기 버전">
						<div class="info">
							<strong>관세청</strong>
							<div class="parent-p">
								<p><em>유형</em>반응형 웹</p>
								<p><em>구현</em>퍼블리싱 100%</p>
								<p><em>작업 기간</em>2020. 03 ~</p>
							</div>
							<div class="more-btn">
								<div class="btn-gradient">
									<button type="button" class="modal_open_btn" value="customs"> more detail
										<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</div>
					</li>
					<li>
						<img src="assets/img/portfolio/notebook_coffeebean.png" class="pc" alt="커피빈 PC버전">
						<img src="assets/img/portfolio/tablet_coffeebean.png" class="tablet" alt="커피빈 타블렛 버전">
						<img src="assets/img/portfolio/phone_coffeebean.png" class="mobile" alt="커피빈 모바일 기기 버전">
						<div class="info">
							<strong>커피빈</strong>
							<div class="parent-p">
								<p><em>유형</em>반응형 웹</p>
								<p><em>구현</em>퍼블리싱 100%</p>
								<p><em>작업 기간</em>2020. 03~</p>
							</div>
							<div class="more-btn">
								<div class="btn-gradient">
									<button type="button" class="modal_open_btn" value="coffeebean"> more detail
										<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</div>
					</li>
					<li>
						<img src="assets/img/portfolio/notebook_megabox.png" class="pc" alt="megabox PC버전">
						<img src="assets/img/portfolio/tablet_megabox.png" class="tablet" alt="megabox 타블렛 버전">
						<img src="assets/img/portfolio/phone_megabox.png" class="mobile" alt="megabox 모바일 기기 버전">
						<div class="info">
							<strong>메가박스</strong>
							<div class="parent-p">
								<p><em>유형</em>반응형 웹</p>
								<p><em>구현</em>퍼블리싱 100%</p>
								<p><em>작업 기간</em>2020. 02 ~ 2020. 02</p>
							</div>
							<div class="more-btn">
								<div class="btn-gradient">
									<button type="button" class="modal_open_btn" value="megabox"> more detail
										<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</div>
					</li>
					
				</ul>
			</div>
		</section>

		<section id="contact" class="section sec4" data-anchor="page4">
			<div class="container">
				<h3 class="title_text">CONTACT</h3>
				<div class="review_area">
					<h4>REVIEW</h4>
					<p>HTML 마크업 부터 CSS3의 동적 스타일, 그리고 이벤트 처리를 위한 JS까지...
						독학으로 공부하며 힘든 점이 많았지만, 그 점들을 하나하나 해결해나가며 
						생기는 뿌듯함과 성취감 덕분에 더욱 애착이 가는 포트폴리오가 완성되었다고 생각합니다.
						아직 부족함이 많지만, 이제는 팀원들과 함께 문제를 해결해 나가며 발전하는 퍼블리셔가 되고 싶습니다.
					</p>
				</div>
				<div class="contact_area">
					<h4>CONTACT</h4>
					<ul>
						<li>
							<a href="tel:010-7467-9987">
								<img src="assets/img/icons/ico_phone.png" alt="휴대폰, 전화">
								<span>+82 010-7467-9987</span>
							</a>
						</li>
						<li>
							<a href="mailto:waterttug@naver.com">
								<img src="assets/img/icons/ico_email.png" alt="이메일">
								<span>waterrutg@naver.com</span>
							</a>
						</li>
						<li>
							<a href="https://github.com/sj2sj" target="_blank">
								<img src="assets/img/icons/ico_git.png" target="_blank" alt="github">
								<span>github</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- <p class="copyright">© Copyright 2020. Lee Sujin</p> -->
		</section>

	</article>
	<!-- //fullpage -->






	<!-- script -->
	<script src="assets/js/jquery.min_1.12.4.js"></script>
	<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
	<script src="assets/js/jsrender.min.js"></script>
	<script src="assets/js/jquery.fullpage.js"></script>
	<script src="assets/js/common.js"></script>
	<script src="assets/js/typing.js"></script>
	

	<script>
		$(document).ready(function() {
			$('#fullpage').fullpage({
				//options here
				autoScrolling: true, 
				scrollHorizontally: true,
				paddingTop: '40px',
				responsiveWidth: 1025,
				responsiveHeight: 900,
				onLeave : function(anchorLink, index) {
					if(index == 1) {
						$('.nav ul li').removeClass('active');
					} else if (index == 2) {
						$('.nav ul li').removeClass('active');
						$('.nav ul li').eq(0).addClass('active');
					} else if (index == 3) {
						$('.nav ul li').removeClass('active');
						$('.nav ul li').eq(1).addClass('active');
					} else if (index == 4) {
						$('.nav ul li').removeClass('active');
						$('.nav ul li').eq(2).addClass('active');
					}
				}
			});


		});
	</script>




	<script id="modalTmpl" type="text/x-jsrender">
		<div class="slide_img">
			<a href="{{:mainPage}}" target="_blank">
				<img src="{{:pageImg}}" alt="{{:pageTitle}} 이미지">
			</a>
		</div>

		<div class="modal_info">
			<strong class="highlight">
				<span>{{:pageTitle}}</span>
			</strong>
			<div class="page_area">
				<a href="{{:githubPage}}" target="_blank">git page<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
				<a href="{{:mainPage}}" target="_blank">main page<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
				{{if subPage1}}
					<a href="{{:subPage1}}" target="_blank">sub page1<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
				{{/if}}
				{{if subPage2}}
					<a href="{{:subPage2}}" target="_blank">sub page2<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
				{{/if}}
			</div>
			{{if devType == "clone"}}
				<p class="refer">
					* 현재 운영 중인 사이트의 클론 코딩 페이지 입니다.  
					저는 사이트의 디자인만을 참고하여 html, css, js를 작성하였습니다. 
				</p>
			{{/if}}
			<p>
				<em>유형 : </em> 
				<span>{{:type}}</span>
			</p>
			<p>
				<em>구현 : </em> 
				<span>{{:impType}}</span>
			</p>
			<p>
				<em>작업 기간 : </em>
				<span>{{:workPrd}}</span>
			</p>
			<p>
				<em>페이지 수 : </em>
				<span>{{:totalPage}}</span>
			</p>
			<p>
				<em>사용 api : </em>
				<span>{{:useApi}}</span>
			</p>

			<hr>
			<p class="opinion">
				{{:opinion}}
			</p>
		</div>

		
	</script>
	
</body>
</html>