@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


@keyframes cursor {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes fade-in {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes gradient {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes arrow {
	0% {right: 5px;}
	50% {right: 10px;}
	100% {right: 5px;}
}

//fonts
$noto-kr: 'Noto Sans KR','Malgun Gothic',sans-serif;
$black-han: 'Black Han Sans', sans-serif;
$h3-font-family: $black-han;

$img-url: '../../img';

$bg-color: #e8eaf6;
// $bg-color: #B5B2FF;
$con-bg-color: #F6F6F6;

$title-color: #212121;
$high-color: #4A206A;


//mixin
@mixin full-container {
	position: relative;
	max-width: 1420px;
	padding: 0 100px;
	margin: 0 auto;
}

@mixin h3-font {
	font-family: $h3-font-family;
	font-size: 70px;
	letter-spacing: 0.03em;
}

@mixin right-wrap {
	background: $con-bg-color;
	box-sizing: border-box;
	padding: 20px 10px 20px 70px;
	border-radius: 15px;
}

@mixin bgGradient($fromColor, $toColor, $direction) {
	background: $fromColor; 
	background: -webkit-linear-gradient(to $direction, $fromColor 0%, $toColor 100%);
	background: -o-linear-gradient(to $direction, $fromColor 0%, $toColor 100%);
	background: -ms-linear-gradient(to $direction, $fromColor 0%, $toColor 100%);
	background: linear-gradient(to $direction, $fromColor 0%, $toColor 100%);
}

@mixin highlight($color) {
	&.highlight {
		position: relative;
		span {
			position: relative;
			z-index: 11;
		}
		&:after {
			position: absolute;
			content: '';
			left: 0; bottom: 0;
			display: block;
			width: 110%;
			height: 55%;
			background: $color;
			z-index: 0;
		}
	}
}

.fp-responsive #fullpage .sec3 {padding: 80px 0 !important;}
.fp-responsive #fullpage .sec2 .container .right_area .work_wrap {max-height: 232px;}
.fp-responsive #fullpage .sec2 .container .right_area .certificate_wrap {min-height: 232px;}

.hidden {height: 100%; min-height: 100%; overflow: hidden !important; touch-action: none;}

.container {
	@include full-container;
}

.title_text {
	@include h3-font;
}

#header {
	position: fixed;
	width: 100%; height: 40px;
	background: #fff;
	z-index: 5;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); 
	.container {
		padding: 0 100px;
		h1.logo {
			float: left;
			padding: 8px 0 2px 0;
			a {
				img {
					width: 25px; height: 25px;
				}
			}
		}
		.nav {
			float: right;
			padding: 9px 0;
			ul {
				overflow: hidden;
				li {
					float: left;
					&.active {
						a {color: $high-color; font-weight: 600;}
					}
					a {
						margin: 0 20px; 
						color: $title-color;
					}
				}
			}
		}
	}
}


#fullpage {
	.section {background: $bg-color;}

	.sec1 {
		background: url(#{$img-url}/main_bg.jpg) no-repeat center center;
		background-size: cover;
		.container {
			.title {
				position: relative;
				h3 {
					position: absolute; top: 50%; left: 50%;
					transform: translate(-50%, -50%);
					font-size: 40px; color: #fff;
					letter-spacing: 0.05em;
					.verb-text {
						position: relative;
						&:after {
							animation: cursor;
							animation-duration: 0.4s;
							animation-iteration-count: infinite;
							position: absolute;
							content: '';
							top: 50%; right: 0;
							transform: translateY(-50%);
							width: 1px; height: 45px;
							background: #000;
						}
					}
					.eng {font-size: 35px; color: #EEEEEE;}
				}
			}
			ul {
				position: absolute; 
				top: 0; left: 50%;
				transform: translateX(-50%);
				li {
					position: relative;
					&.typing-text {display: none;}

					&:nth-child(1) {top: 130px; left: -180px;}
					&:nth-child(2) {top: 160px; left: 100px;}
				}
				&.move_word {
					li {
						&:nth-child(1) {top: -150px;}
						&:nth-child(2) {top: -160px; left: 70px;}
						&:nth-child(3) {top: -150px; left: -300px;}
						&:nth-child(4) {top: -115px; left: 200px;}
					}
				}
			}
		}
	}

	.sec2 {
		.container {
			height: 100%;
			overflow: hidden;
			h3 {
				text-align: center;
				margin: 20px 0;
			}
			.words {
				display: block; 
				text-align: center;
				margin: -35px 0 30px 0;
				font-size: 20px;
				letter-spacing: 0.1em;
				.res_br {display: none;}
			}
			.left_area {
				width: 18%;
				margin-right: 2%;
				float: left;
				.profile_wrap {
					.photo {
						width: 100%; height: 200px;
						margin: 0 auto;
						border-radius: 70%;
						overflow: hidden;
						.profile {
							width: 100%; height: 100%;
						}
					}
				}
			}
			.right_area {
				width: 80%; height: 75%;
				float: right;
				overflow: hidden;
				& > div {@include right-wrap;}
				.skill_wrap {
					margin-bottom: 20px;
					width: 100%; height: 60%;
					float: left;
					ul {
						li {
							margin-bottom: 10px;
							strong {
								@include highlight(#d1c4e9);
								font-size: 21px;
							}
							p {
								padding-top: 5px;
								span {
									display: inline-block;
									width: 60px; height: 70px;
									&.html5 {background-position: -5px 155px;}
									&.css {background-position: -61px 155px;}
									&.js {background-position: -5px 81px;}
								}
							}
							ul {
								li {
									margin-left: 5px;
									margin-bottom: 0;
									padding-bottom: 3px;
								}
							}
						}
					}
				}
				.work_wrap {
					width: 60%; height: 37%;
					margin-right: 2%;
					float: left;
					ul { 
						li { 
							padding-bottom: 3px;
					 		&.bold {
								em {
									font-size: 18px; color: $high-color; font-weight: 500;
								}
								strong {font-weight: 500;}
								.work_desc {font-size: 16px; color: $title-color;}
							} 
						}
					 }
				}
				.certificate_wrap {
					float: left; 
					width: 38%; height: 37%;
					ul {
						li {padding-bottom: 3px;}
					}
				}
			}
			h4 {
				position: relative;
				font-size: 20px;
				font-weight: 600;
				&:before {
					position: absolute;
					content: '';
					top: 50%; left: -28px;
					transform: translateY(-50%);
					width: 25px; height: 25px;
					background: url(#{$img-url}/icons/ico_check.png) no-repeat center center;
					background-size: cover;
				}
			}
		}
	}

	.sec3 {
		.container {
			height: 100%;
			h3 {
				text-align: center;
				margin: 20px 0;
			}
			ul {
				height: 80%;
				li {
					&:before {
						position: absolute;
						content: '';
						top: 50%; left: 50%;
						transform: translateX(-50%);
						width: 30%; height: 5px;
						@include bgGradient(#f68084, #4A206A, right);
					}
					position: relative;
					float: left;
					overflow: hidden;
					width: calc(50% - 10px); height: 50%; min-height: 350px;
					background: $con-bg-color;
					padding: 10px 20px;
					border-radius: 15px;
					box-sizing: border-box;
					margin: 5px;
					transition: all 0.5s;
					&:hover .info {
						opacity: 1;
					}
					img {
						position: absolute;
						&.pc {
							max-width: 450px;
							width: 90%;
							top: 50%; left: 50%;
							transform: translate(-50%, -50%);
						}
						&.tablet {max-width: 150px; width: 30%; top: 118px; left: 45%;}
						&.mobile {max-width: 110px; width: 22%; top: 120px; left: 70%;}
					}
					.info {
						position: absolute;
						left: 0; top: 0;
						opacity: 0;
						width: 100%; height: 100%;
						border-radius: 15px;
						background: rgba(255, 255, 255, 0.9);
						text-align: center;
						transition: all 0.5s ease;
						strong {
							display: block;
							padding: 50px 0 10px 0;
							font-size: 27px;
							font-weight: 600;
						}
						.parent-p {
							display: inline-block;
							text-align: left;
						}
						p {
							padding: 5px 0 3px 0;
							em {
								display: inline-block;
								background: $high-color;
								border-radius: 8px;
								padding: 1px 8px;
								margin-right: 10px;
								color: #F6F6F6;
							}
						}
					}
					.more-btn {
						position: absolute;
						left: 50%; bottom: 25px;
						transform: translateX(-50%);
						width: 160px; height: 45px;
						border-style: solid; 
						border-image: linear-gradient(to right, #4A206A 0%, #f68084 100%);
						border-image-slice: 1;
						border-image-width: 3px;
						&:hover .btn-gradient {
							background: linear-gradient(
								to right, 
								#4A206A 0%, 
								#f68084 100%
							);
							width: 100%; height: 100%;
							animation: gradient 0.7s ease;
						}
						&:hover .btn-gradient button {
							color: #F6F6F6;
						}
						button {
							position: absolute;
							top: 0; left: 0;
							width: 100%; height: 100%;
							display: block;
							padding: 8px 0px;
							text-align: center;
							letter-spacing: 0.04em;
							box-sizing: border-box;
							font-weight: 300;
							background: transparent;
						}
					}
				}
			}
		}
	}

	// section4 , contact
	.sec4 {
		position: relative;
		z-index: 1;
		&:before {
			position: absolute;
			top: 0; left: 0;
			background: url(#{$img-url}/footer_bg.jpg) ;
			background-size: cover;
			opacity: 0.7 !important;
			filter: alpha(opacity=70);
			z-index: -1;
			content: '';
			width: 100%; height: 100%;
		}
		
		.container {
			overflow: hidden;
			height: 100%;
			h3 {
				margin: 20px 0;
				text-align: center;
				font-weight: 300;
			}
			h4 {
				position: relative;
				padding-bottom: 20px; margin-bottom: 30px;
				font-size: 30px;
				font-weight: 300;
				letter-spacing: 0.05em;
				&:before {
					position: absolute;
					content: '';
					bottom: 0; left: 0;
					width: 40%; height: 4px;
					@include bgGradient(#f68084, #4A206A, right);
				}
			}
			div {padding: 70px;}
			.review_area {
				float: left;
				width: 49%;
				margin-right: 2%;
				box-sizing: border-box;
				p {
					font-size: 20px; letter-spacing: 0.01em; font-weight: 300;
				}
			}
			.contact_area {
				float: right;
				width: 49%;
				box-sizing: border-box;
				ul {
					li {
						margin-bottom: 20px;
						img {
							width: 32px; height: 32px;
							vertical-align: middle;
						}
						span {
							vertical-align: middle; 
							font-size: 20px; letter-spacing: 0.01em; font-weight: 300;
							padding-left: 10px;
						}
					}
				}
			}
			.copyright {
				position: absolute;
				left: 50%; bottom: 3px;
				transform: translateX(-50%);
				color: #eee; letter-spacing: -0.03em; font-weight: 300;
				padding: 0 10px;
				background: rgba(0, 0, 0, 0.2);
			}
		}
	}
}







// 모달
#modal {
	display: none;
	position: fixed;
	width: 100%; height: 100%;
	z-index: 20;

	.modal_wrap {
		position: relative;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		width: 80%; height: 80%;
		padding: 20px 40px;
		background: #fff;
		overflow: hidden;
		border: 2px solid #666;
		border-radius: 10px;
		box-sizing: border-box;

		#modal_close_btn {
			position: absolute;
			top: 10px; right: 10px;
			display: block;
			width: 30px; height: 30px;
			span {
				position: absolute;
				top: 50%; left: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
				content: '';
				display: block;
				width: 25px; height: 1px;
				background: $high-color;
				transition: all 0.5s ease;
				&:after {
					position: relative;
					content: '';
					top: 50%; left: 50%;
					transform: translate(-50%, -50%) rotate(-90deg);
					display: block;
					width: 25px; height: 1px;
					background: $high-color;
					transition: all 0.5s ease;
				}
			}
			&:hover {
				span {
					transform: translate(-50%, -50%) rotate(0deg);
					&:after {
						transform: translate(-50%, -50%) rotate(0deg);
					}
				}
			}
		}

		#modal_content {
			height: 100%;	
			.slide_img {
				width: 60%;
				float: left;
				img {
					width: 100%;
					margin-top: 40px;
					transition: margin-top 1s ease-in-out;
				}
				&:hover img {
					margin-top: -100%;
					transition: margin-top 4s ease-in-out;
				}
			}

			.modal_info {
				float: left;
				width: 40%; height: 100%;
				overflow-y: auto;
				padding: 50px 20px 0 40px;
				box-sizing: border-box;
				font-size: 18px;
				.page_area {
					a {
						position: relative;
						display: inline-block;
						box-sizing: border-box;
						width: 45%;
						border: 1px solid $high-color;
						padding: 5px 10px;
						margin: 5px 0 0 0;
						.fa-long-arrow-right {
							position: absolute;
							top: 50%; right: 5px;
							transform: translateY(-50%);
							background: #4A206A; 
							background: -webkit-linear-gradient(to right, #4A206A 0%, #f68084 100%);
							background: -o-linear-gradient(to right, #4A206A 0%, #f68084 100%);
							background: -ms-linear-gradient(to right, #4A206A 0%, #f68084 100%);
							background: linear-gradient(to right, #4A206A 0%, #f68084 100%);
							-webkit-text-fill-color: transparent;
							-webkit-background-clip: text;
						}
						&:hover {
							.fa-long-arrow-right {
								right: 10px;
								animation: arrow;
								animation-duration: 1.3s;
								animation-iteration-count: infinite;
							}
						}
					}
				}
				strong {
					@include highlight(#d1c4e9);
					display: inline-block;
					margin-bottom: 10px;
					font-size: 38px;
					font-weight: 600;
				}
				p {
					margin-top: 3px;
					&.refer {
						margin: 20px 0;
						font-size: 16px;
						color: #777;
					}
					em {font-weight: 500;}
					span {color: #555;}
				}
				hr {margin: 20px 0;}
			}


			.view-btn {
				position: absolute;
				right: 20px; bottom: 25px;
				display: inline-block;
				a {
					position: relative;
					display: block;
					margin: 0 25px;
					span {}
					
				}
			}
		}
	}

	.modal_layer {
		position: fixed;
		top: 0; left: 0;
		width: 100%; height: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}
}



