@charset "utf-8";

/* 0~1320 */
@media (max-width: 1320px) {
    .container {max-width: 1320px;}

    #fullpage .sec1 .container .title h3 .eng {font-size: 33px;}
}


/* 0~1200 */
@media (max-width: 1200px) {
    .container {max-width: 1200px;}
	
	.container {padding: 0 50px;}

	#fullpage .sec1 .container .title h3 {font-size: 37px;}
	#fullpage .sec1 .container .title h3 .eng {font-size: 30px;}
}

/* 0~1023 PC ë */
@media (max-width: 1023px) {
	.container {padding: 0 30px;}

	#fullpage .sec1 .container .title h3 {font-size: 35px;}
	#fullpage .sec1 .container .title h3 .eng {display: none;}
	
	.title_text {font-size: 60px;}


	#fullpage .sec2 .container .right_area > div {padding: 10px 10px 10px 70px;}
	#fullpage .sec2 .container .right_area .skill_wrap {height: auto; margin-bottom: 1%;}
	#fullpage .sec2 .container .right_area .work_wrap {height: auto; width: 100%; margin-bottom: 1%;}
	#fullpage .sec2 .container .right_area .certificate_wrap {height: auto; width: 100%;}

}